.card {
    position: relative;
    width: 353px;
    height: 595px;
    background-color: white;
    border-radius: 20px;
    padding-top: 60px;
    margin-bottom: -110px;
}

.popular {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    color: white;
    background: rgb(118,39,244);
    background: linear-gradient(90deg, rgba(118,39,244,1) 0%, rgba(145,214,249,1) 95%);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    width: 111px;
    height: 45px;
    right: 0;
    margin-top: -60px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleCard {
    text-align: center;
    color: #696b6c;
}

p.price {
    color: #949596;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

p.price div{
    display: inline;
    font-size: 80px;
    margin-left: 5px;
    margin-right: 5px;
    background: linear-gradient(90deg, rgba(118,39,244,1) 0%, rgba(145,214,249,1) 80%);
    background-clip: text;
    color: transparent;
    
}

p.parcelas {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #696b6c;
    width: 60%;
    margin-bottom: 30px;
}

.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.creditCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creditCard img {
    width: 200px;
    margin-right: 35px;
}