.detalheContent {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.detalheContent img {
    width: 90px;
    margin-top: 15px;
}

.description {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25px;
}

.description h3 {
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
}

.description p {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 13px;
    font-weight: 18px;
    color: #696b6c;
}