.moduloComponent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.positionChildren {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: -40px;
}

.titleModuloComponent span {
    display: block;
    width: 42px;
    height: 20px;
    background: #91d6f9;
    border-radius: 15px;
    margin-right: 20px;
}

.titleModuloComponent h1 {
    font-size: 22px;
    font-weight: 800;
    width: 450px;
    height: 30px;
}
.titleModuloComponent {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}