@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

.App {
  background-color: #fff;
}

/*header*/

header {
  position: fixed;
  background-color: #7c27f4;
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.headerMargin {
  height: 140px;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
}
.containerHeader img {
  width: 250px;
}

.containerHeader ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 420px;
}

.containerHeader ul li {
  list-style: none;
}

.containerHeader ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.containerHeader ul li a:hover {
  border-bottom: 3px solid #91d6f9;
}

.containerHeader > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 250px;
  height: 60px;
  background-color: #91d6f9;
  transition: 0.2s;
}

.containerHeader > a:hover {
  background-color: white;
  color: #91d6f9;
}

/*sessão inicio*/

.inicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.containerInicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
}

.contentInicio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.contentInicio h1 {
  color: #7c27f4;
  width: 100%;
  max-width: 400px;
  text-align: right;
  font-size: 32px;
}

.contentInicio p {
  width: 100%;
  max-width: 400px;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
}

/*notebook e video*/
.imgVideo {
  position: relative;
}

.imgVideo img {
  width: 750px;
}

.imgVideo video {
  width: 480px;
  height: 295px;
  position: absolute;
  left: 148px;
  top: 108px;
}

/*sessão aprender */

.aprender {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 475px;
  width: 100%;
  background-color: #7030db;
  z-index: -1;
}

.containerAprender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  min-width: 950px;
}
.containerAprender img{
  margin-top: 140px;
  width: 580px;
}

.containerAprender h1 {
  color: #91d6f9;
  width: 345px;
  font-family: Roboto;
  font-size: 44px;
}

.containerAprender .titleAprender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.containerAprender .titleAprender button{
  height: 60px;
  border: 2px solid white;
  background: none;
  border-radius: 50px;
  color: white;
  width: 280px;
  margin-top: 60px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.containerAprender .titleAprender button:hover {
  color: #7030db;
  background-color: white;
}


/*segunda sessão*/

.sectionSobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerSobre {
  max-width: 1000px;
}
.containerDetalhes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionSobre h1 {
  color: #9f66f7;
  text-align: right;
  font-size: 30px;
  margin-right: 45px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1000px;
  font-family: Roboto;
}

.sectionSobre .detalhes {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*professores */

.sectionProfessor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
  background:rgba(246, 247, 249);

  width: 100%;
}

.boxProfessor {
  display: flex;
  flex-direction: column;
}

/*sessão card*/

.sectionCard {
  width: 100%;
  height: 550px;
  display: none;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(145,214,249,1) 0%, rgba(118,39,244,1) 95%);
}

.boxSectionCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1280px;
}

.contentSectionCard {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.contentSectionCard h1 {
  color: white;
  width: 400px;
  font-size: 45px;
  margin-bottom: 30px;
}

.contentSectionCard p {
  text-align: left;
  max-width: 640px;
  font-size: 18px;
  font-weight: 500;
}

.sectionFooter {
  height: 400px;
  background-image: url('./assets/ondasfooter.png');
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 400px;
  width: 100%;
  max-width: 1300px;
}

.footerDuvida {
  color: #696b6c;
  font-size: 16px;
}

.footerDuvida h3{
  color: black;
  margin-bottom: 5px;
  font-size: 22px;
}

.footerDuvidaP {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.footerWhatsapp {
  margin-top: 100px;
  margin-left: 100px;
}



.footerWhatsapp p {
  width: 200px;
  font-weight: 500;
  font-size: 18px;
}

.footerWhatsapp a {
  font-weight: 500;
 width: 250px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #7e7f80;
 text-decoration: none;
 height: 70px;
 border: 2px solid #7e7f80;
 border-radius: 50px;
 margin-top: 20px;
 transition: 0.2s;
}

.footerWhatsapp a:hover {
  background-color: #7e7f80;
  color: white;
  border: none;
}


@media screen and (max-height: 800px) {
  .sectionHeader .title h1 {
    margin-top: 30px;
  }
}