.App {
  background-color: #fff;
}

/*header*/

header {
  position: fixed;
  background-color: #7c27f4;
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.headerMargin {
  height: 140px;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}
.containerHeader img {
  width: 370px;
  margin-bottom: 25px;
}

.containerHeader ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 420px;
  margin-right: px;
}

.containerHeader ul li {
  list-style: none;
}

.containerHeader ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.containerImgNav {
  display: flex;
}

.containerHeader ul li a:hover {
  border-bottom: 3px solid #91d6f9;
}

.containerHeader > a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 250px;
  height: 60px;
  background-color: #91d6f9;
  transition: 0.2s;
  margin-right: 60px;
}

.containerHeader > a:hover {
  background-color: white;
  color: #91d6f9;
}

/*sessão inicio*/

.inicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.containerInicio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}

.contentInicio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: -20px;
 
}

.contentInicio h1 {
  color: #7c27f4;
  width: 100%;
  max-width: 410px;
  text-align: right;
  font-size: 32px;
  font-weight: 800;
  line-height: 38px;
}

.contentInicio p {
  width: 100%;
  color: #696b6c;
  max-width: 410px;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 30px;
  font-family: 'Nunito';
}

/*notebook e video*/
.imgVideo {
  position: relative;
  margin-right: -60px;
}

.imgVideo img {
  width: 750px;
}

.imgVideo video {
  width: 485px;
  height: 295px;
  position: absolute;
  left: 147px;
  top: 108px;
}

/*sessão aprender */

.aprender {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 475px;
  width: 100%;
  background-color: #7030db;
}

.containerAprender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  min-width: 950px;
}
.containerAprender img{
  margin-top: 140px;
  width: 580px;
}

.containerAprender h1 {
  color: #91d6f9;
  width: 350px;
  font-family: 'Nunito';
  font-weight: 800;
  line-height: 54px;
  font-size: 52px;
  margin-bottom: 15px;
}

.containerAprender .titleAprender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*.containerAprender .titleAprender button{
  height: 60px;
  border: 2px solid white;
  background: none;
  border-radius: 50px;
  color: white;
  width: 280px;
  margin-top: 40px;
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}*/

.containerAprender .titleAprender button:hover {
  color: #7030db;
  background-color: white;
}


/*segunda sessão*/

.sectionSobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerSobre {
  max-width: 1000px;
}
.containerDetalhes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionSobre h1 {
  color: #9f66f7;
  text-align: right;
  font-size: 30px;
  margin-right: 165px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  font-weight: 800;
  max-width: 1000px;
  font-family: 'Nunito';
}

.sectionSobre .detalhes {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*professores */

.sectionProfessor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
  background:rgba(246, 247, 249);

  width: 100%;
}

.boxProfessor {
  display: flex;
  flex-direction: column;
}

/*sessão card*/

.sectionCard {
  width: 100%;
  height: 550px;
  display: none;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(145,214,249,1) 0%, rgba(118,39,244,1) 95%);
}

.boxSectionCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1280px;
}

.contentSectionCard {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.contentSectionCard h1 {
  color: white;
  width: 400px;
  font-size: 45px;
  margin-bottom: 30px;
}

.contentSectionCard p {
  text-align: left;
  max-width: 640px;
  font-size: 18px;
  font-weight: 600;
}

.sectionFooter {
  height: 340px;
  background-image: url('./assets/ondasfooter.png');
  background-repeat: no-repeat;
  background-position: 0 -30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
  width: 100%;
  max-width: 1300px;
}

.footerDuvida {
  color: #696b6c;
  font-size: 16px;
}

.footerDuvida h3{
  color: black;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 800;
}

.footerDuvidaP {
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.footerWhatsapp {
  margin-top: 100px;
  margin-left: 100px;
}



.footerWhatsapp p {
  width: 200px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.footerWhatsapp a {
  font-weight: 700;
 width: 250px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #7e7f80;
 text-decoration: none;
 height: 70px;
 border: 2px solid #7e7f80;
 border-radius: 50px;
 margin-top: 20px;
 transition: 0.2s;
}

.footerWhatsapp a:hover {
  background-color: black;
  color: white;
  border: none;
}

.emConstrucao {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emConstrucaoimg {
  position: relative;
}

.emConstrucaoimg img {
  position: relative;
  width: 200px;
}
.emConstrucao {
  display: none;
}

/*popup aprender*/
.popupAprender {
  position: fixed;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  top: 0;
  right: 0;
  z-index: 6;
  transition: 0.2s;
}

.popupAprender span{
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 12px;
  background: #7e7f80;
  position: absolute;
  right: 30px;
  top: 30px;
  transform: rotate(45deg);
}

.closed {
  cursor: pointer
}

.hiddenPopup {
  right: -60%;
}

.popupAprender span.rotate1 {
  transform: rotate(-45deg);
}

.containerPopupAprender h1 {
  color: #7c27f4;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 30px;
}

.containerPopupAprender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 94%;
  max-width: 800px;
  margin-bottom: 15px;
  margin-right: -80px;
  max-width: 630px;
}

.containerPopupAprender div {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.containerPopupAprender div p {
  margin-right: 30px;
  font-size: 45px;
  font-weight: 800;
  background: linear-gradient(180deg, rgba(118,39,244,1) 0%, rgba(145,214,249,1) 80%);
  background-clip: text;
  color: transparent;
}

.containerPopupAprender ul li {
  font-size: 14px;
  color: #2a2c2e;
  font-family: 'Nunito';
  font-weight: 700;
  list-style: none;
  width: 75%;
}

.backgroundEscuro {
  position: fixed;
  width: 50%;
  height: 100vh;
  z-index: 6;
  background: rgb(55, 55, 55, 0.6);
}

.hiddenBackground {
  display: none;
}

/*popup Ementa*/
.ementa {
  position: fixed;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  top: 0;
  right: 0;
  z-index: 7;
  transition: 0.2s;
}

.containerEmenta .closedEmenta span{
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 12px;
  background: #7e7f80;
  position: absolute;
  right: 30px;
  top: 30px;
  transform: rotate(45deg);
}

.containerEmenta .closedEmenta span.rotate1 {
  transform: rotate(-45deg);
}
.closedEmenta {
  cursor: pointer;
}

.hiddenEmenta {
  right: -60%;
}

.hiddenContainerEmenta {
  position: fixed;
  right: -100%;
}

.containerEmenta {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerEmenta > h1 {
  color: #7c27f4;
  font-weight: 800;
  font-size: 32px;
  padding-left: 110px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.containerEmenta::-webkit-scrollbar {
  width: 12px;
}

.containerEmenta::-webkit-scrollbar-track {
  background: white;
}

.containerEmenta::-webkit-scrollbar-thumb {
  background-color: #7e7f8073;
  border-radius: 3px;

}


@media screen and (max-height: 800px) {
  .sectionHeader .title h1 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: none;
  }
  .inicio {
    display: none;
  }
  .sectionSobre {
    display: none;
  }
  .aprender {
    display: none;
  }

  .sectionProfessor {
    display: none;
  }
  .sectionFooter {
    display: none;
  }

  .headerMargin {
    display: none;
  }

  .popupAprender {
    display: none;
  }

  .ementa {
    display: none;
  }

  .containerEmenta {
    display: none;
  }

  .hiddenContainerEmenta {
    display: none;
  }
  .hiddenPopup {
    display: none;
  }

  /*em construção mobile*/
  .emConstrucao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  

  .emConstrucaoimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7c27f4;
  }

  .emConstrucaoimg img {
    width: 350px;
  }
  
  .emConstrucaoimg img.mobileNotebook{
    width: 95%;
    max-width: 350px;
  }
  
  .emConstrucaoimg img.mobileConfig {
    width: 25%;
    max-width: 100px;
    margin-top: -180px;
  }

  .emConstrucaoText {
    padding: 30px;
  }

  .emConstrucaoText h1{
    margin-top: 60px;
    width: 250px;
    font-size: 20px;
    margin-left: -50px;
    color: #7c27f4;
    font-family: 'Nunito';
    font-weight: 800;
  }
}